/* —————  FONT   ————— */

@font-face {
  font-family: 'Samim';
  src: url('/file-directory/font/samim/Samim.eot');
  src:
    url('/file-directory/font/samim/Samim.eot?#iefix') format('embedded-opentype'),
    url('/file-directory/font/samim/Samim.woff2') format('woff2'),
    url('/file-directory/font/samim/Samim.woff') format('woff'),
    url('/file-directory/font/samim/Samim.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Samim';
  src: url('/file-directory/font/samim/Samim-Bold.eot');
  src:
    url('/file-directory/font/samim/Samim-Bold.eot?#iefix') format('embedded-opentype'),
    url('/file-directory/font/samim/Samim-Bold.woff2') format('woff2'),
    url('/file-directory/font/samim/Samim-Bold.woff') format('woff'),
    url('/file-directory/font/samim/Samim-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Samim';
  src: url('/file-directory/font/samim/Samim-Medium.eot');
  src:
    url('/file-directory/font/samim/Samim-Medium.eot?#iefix') format('embedded-opentype'),
    url('/file-directory/font/samim/Samim-Medium.woff2') format('woff2'),
    url('/file-directory/font/samim/Samim-Medium.woff') format('woff'),
    url('/file-directory/font/samim/Samim-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
